#### Practice with concat and merge in pandas
> This is a continuation of the taste_test_scripts notebook

In [ ]:
import pandas as pd
import pyreadstat
from collections import Counter

df, meta = pyreadstat.read_sav('../../SPSS-Python/spss-datasets/Taste_Test_Data_File.sav')

# Define the data
Q1 = df['TTQ3.1_1']
Q2 = df['TTQ3.1_2']
Q3 = df['TTQ3.1_3']
responses = []

# Combine the responses into a single list
responses = pd.concat([Q1, Q2, Q3], axis=0, ignore_index=True).dropna(axis=0)
print(f'responses are {responses}')

# for response in responses:
#     frequencies = df[response].value_counts()
#     print(f"response: {response}")
#     print(frequencies)
#     print("-------------------")

#### Merge command

In [4]:
import pandas as pd

df1 = pd.DataFrame({
    'city': ['new york', 'chicago', 'orlando','baltimore'],
    'temperature': [21,14,35,32]
    })
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           32

In [6]:
df2 = pd.DataFrame({
    'city': ['chicago', 'new york', 'san francisco'],
    'humidity': [65,68,75]
    })
df2

            city  humidity
0        chicago        65
1       new york        68
2  san francisco        75

#### merge how='inner' give you the intersection. This is the default.
#### how='outer' gives the union.
#### 'left', 'right' specify joining using values based on the order that the dataframes are listed
#### in the merge call.

In [9]:
df3 = pd.merge(df1,df2,on='city',how='outer')
df3

            city  temperature  humidity
0       new york         21.0      68.0
1        chicago         14.0      65.0
2        orlando         35.0       NaN
3      baltimore         32.0       NaN
4  san francisco          NaN      75.0

In [10]:
df4 = pd.merge(df1,df2, on='city', how='left')
df4

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           32       NaN

#### Indicator flag adds a _merge column that shows where that piece of data came from

In [12]:
df5 = pd.merge(df1,df2, on='city', how='outer', indicator=True)
df5

            city  temperature  humidity      _merge
0       new york         21.0      68.0        both
1        chicago         14.0      65.0        both
2        orlando         35.0       NaN   left_only
3      baltimore         32.0       NaN   left_only
4  san francisco          NaN      75.0  right_only