##### Working on modifiying output from SPSS queries

In [2]:
import pandas as pd
import numpy as np
import openpyxl
import pyreadstat

df, meta = pyreadstat.read_sav('../../SPSS-Python/spss-datasets/Taste_Test_Data_File.sav')

In [3]:
variable_names = ['TTQ3.1_1', 'TTQ3.1_2', 'TTQ3.1_3']

for variable in variable_names:
    frequencies = df[variable].value_counts()
    print(f"Variable: {variable}")
    print(frequencies)
    print("-------------------")

Variable: TTQ3.1_1
97.0    14
2.0      8
7.0      7
6.0      5
8.0      4
5.0      4
99.0     4
1.0      3
9.0      3
4.0      2
3.0      1
Name: TTQ3.1_1, dtype: int64
-------------------
Variable: TTQ3.1_2
6.0    3
2.0    1
8.0    1
5.0    1
Name: TTQ3.1_2, dtype: int64
-------------------
Variable: TTQ3.1_3
Series([], Name: TTQ3.1_3, dtype: int64)
-------------------

#### Variable value labels for TTQ3 and TTQ4 series

##### TTQ3.3_1
    1	Citrus, lemon, lime flavor
	2	Flavor, taste
	3	Tangy, tart
	4	Aftertaste
	5	Fruity flavor
	6	Refreshing, fresh, light
	7	Level of flavor, strong, not too strong, not too weak
	8	Sweetness
	9	Smooth
	10	Smell
	97	Nothing
	98	Don't know
	99	All other


##### TTQ4.3_1
    1	Tart, sour, tang
	2	Level of carbonation
	3	Taste, flavor
	4	Smell
	5	Aftertaste
	6	Too strong
	7	Too weak
	8	Bitter
	9	Color
	10	Not sweet enough
	97	Nothing
	98	Don't know
	99	All other

In [7]:
import pandas as pd

Q1 = [1, 1, 4, 2, 3]
Q2 = [2, 3, 5, 5, 6]
Q3 = [1, 2, 7, 2, 6]

# Initialize empty dictionaries for frequencies
freq_Q1 = {}
freq_Q2 = {}
freq_Q3 = {}

# Count frequencies for Q1
for response in Q1:
    freq_Q1[response] = freq_Q1.get(response, 0) + 1

# Count frequencies for Q2
for response in Q2:
    freq_Q2[response] = freq_Q2.get(response, 0) + 1

# Count frequencies for Q3
for response in Q3:
    freq_Q3[response] = freq_Q3.get(response, 0) + 1

# Combine frequencies into a table
table = {"Q1": freq_Q1, "Q2": freq_Q2, "Q3": freq_Q3}

# Create a DataFrame from the table
df = pd.DataFrame(table)

# Transpose the DataFrame
df = df.transpose()

# Sort columns in ascending order
df = df.sort_index(axis=1)

# Add a total row
df.loc['Total'] = df.sum()

# Print the transposed table with total row
print(df)

         1    2    3    4    5    6    7
Q1     2.0  1.0  1.0  1.0  NaN  NaN  NaN
Q2     NaN  1.0  1.0  NaN  2.0  1.0  NaN
Q3     1.0  2.0  NaN  NaN  NaN  1.0  1.0
Total  3.0  4.0  2.0  1.0  2.0  2.0  1.0

In [8]:
from collections import Counter

# Define the data
Q1 = [1, 1, 4, 2, 9]
Q2 = [2, 3, 5, 5, 6]
Q3 = [1, 2, 7, 2, 6]

# Combine the responses into a single list
responses = Q1 + Q2 + Q3

# Count the frequencies of each response
frequency_count = Counter(responses)

# Create a table to display the frequencies
table_header = ["Response", "Frequency"]
table_rows = []

for response, frequency in frequency_count.items():
    table_rows.append([response, frequency])

# Sort the table rows based on the response values (first column)
table_rows.sort(key=lambda x: x[0])

# Print the table
print("-----------------------")
print("| {:<10} | {:<8} |".format(table_header[0], table_header[1]))
print("-----------------------")
for row in table_rows:
    print("| {:<10} | {:<8} |".format(row[0], row[1]))
print("-----------------------")

-----------------------
| Response   | Frequency |
-----------------------
| 1          | 3        |
| 2          | 4        |
| 3          | 1        |
| 4          | 1        |
| 5          | 2        |
| 6          | 2        |
| 7          | 1        |
| 9          | 1        |
-----------------------

In [9]:
responses = [response for response in df['TTQ3.1_1'] + df['TTQ3.1_2'] + df['TTQ3.1_3'] if response == response]

frequency_count = Counter(responses)

table_header = ['Response', 'Frequency']
table_rows = []

for response, frequency in frequency_count.items():
    table_rows.append([response, frequency])

table_rows.sort(key=lambda x: x[0])

# Print the table
print("-----------------------")
print("| {:<10} | {:<8} |".format(table_header[0], table_header[1]))
print("-----------------------")
for row in table_rows:
    print("| {:<10} | {:<8} |".format(row[0], row[1]))
print("-----------------------")

KeyError: 'TTQ3.1_1'

In [ ]:
df['TTQ3.1_1']

In [17]:

df, meta = pyreadstat.read_sav('../../SPSS-Python/spss-datasets/Taste_Test_Data_File.sav')

# Q1 = [1, 1, 4, 2, 3]
# Q2 = [2, 3, 5, 5, 6]
# Q3 = [1, 2, 7, 2, 6]

# Initialize empty dictionaries for frequencies
freq_Q1 = {}
freq_Q2 = {}
freq_Q3 = {}

for response, frequency in df['TTQ3.1_1'].items():
    table_rows.append([response, frequency])
print(f'response is {response}, frequency is {frequency}')

# Count frequencies for Q1
for response in df['TTQ3.1_1']:
    freq_Q1[response] = freq_Q1.get(response, 0) + 1

print(freq_Q1)

# Count frequencies for Q2
for response in df['TTQ3.1_2']:
    freq_Q2[response] = freq_Q2.get(response, 0) + 1

# Count frequencies for Q3
for response in df['TTQ3.1_3']:
    freq_Q3[response] = freq_Q3.get(response, 0) + 1

# Combine frequencies into a table
table = {"Q1": freq_Q1, "Q2": freq_Q2, "Q3": freq_Q3}

# Create a DataFrame from the table
df2 = pd.DataFrame(table)

print(f'freq_Q1', df2.head())

# Transpose the DataFrame
df2 = df.transpose()

# Sort columns in ascending order
df2 = df.sort_index(axis=1)

# Add a total row
df2.loc['Total'] = df.sum()

# Print the transposed table with total row
print(df2)

response is 142, frequency is 6.0
{nan: 1, nan: 1, nan: 1, 8.0: 4, 7.0: 7, 5.0: 4, nan: 1, 97.0: 14, nan: 1, nan: 1, nan: 1, 3.0: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, 1.0: 3, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, 4.0: 2, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, 2.0: 8, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, 6.0: 5, nan: 1, 99.0: 4, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, 9.0: 3, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1}
freq_Q1       Q1   Q2  Q3
NaN  NaN  NaN NaN
NaN  NaN  NaN NaN
NaN  NaN  NaN NaN
8.0  4.0  1.0 NaN
7.0  7.0  NaN NaN
                                                    CGI1  CGI2_r1  CGI2_r10  \
0                                             White Claw      2.0       1.0
1                                             White claw      1.0       1.0
2                                                  Mikes      2.0       1.0
3                                             topo chico      2.0       1.0
4                                                  Truly      2.0       3.0
...                                                  ...      ...       ...
139                                            Whiteclaw      1.0       2.0
140                                         haed seltzer      1.0       2.0
141                                                Truly      3.0       4.0
142                                               Corona      2.0       2.0
Total  White ClawWhite clawMikestopo chicoTrulyTrulyW...    280.0     316.0

       CGI2_r2  CGI2_r3  CGI2_r4  CGI2_r5  CGI2_r6  CGI2_r7  CGI2_r8  ...  \
0          2.0      3.0      3.0      3.0      5.0      5.0      3.0  ...
1          2.0      4.0      3.0      5.0      5.0      5.0      5.0  ...
2          5.0      2.0      2.0      3.0      5.0      3.0      4.0  ...
3          2.0      1.0      4.0      2.0      2.0      5.0      2.0  ...
4          2.0      2.0      2.0      3.0      2.0      2.0      3.0  ...
...        ...      ...      ...      ...      ...      ...      ...  ...
139        1.0      1.0      2.0      3.0      4.0      4.0      3.0  ...
140        1.0      1.0      1.0      1.0      2.0      2.0      1.0  ...
141        2.0      2.0      4.0      5.0      4.0      5.0      4.0  ...
142        2.0      1.0      1.0      4.0      5.0      4.0      5.0  ...
Total    284.0    292.0    335.0    445.0    469.0    454.0    466.0  ...

       TTQ9_9.16  TTQ9_9.2 TTQ9_9.3  TTQ9_9.4 TTQ9_9.5  TTQ9_9.6  TTQ9_9.7  \
0            NaN       0.0      NaN       NaN      0.0       NaN       NaN
1            0.0       0.0      NaN       0.0      NaN       NaN       NaN
2            NaN       NaN      0.0       0.0      NaN       NaN       0.0
3            NaN       0.0      NaN       NaN      0.0       NaN       0.0
4            NaN       NaN      NaN       1.0      0.0       0.0       NaN
...          ...       ...      ...       ...      ...       ...       ...
139          NaN       NaN      0.0       NaN      NaN       0.0       NaN
140          0.0       0.0      NaN       NaN      NaN       0.0       NaN
141          NaN       0.0      NaN       0.0      0.0       NaN       0.0
142          NaN       NaN      NaN       0.0      NaN       0.0       NaN
Total        2.0       3.0      2.0       7.0      1.0       5.0       3.0

       TTQ9_9.8  TTQ9_9.9  sys_RespNum
0           0.0       NaN          3.0
1           NaN       1.0          4.0
2           0.0       NaN          5.0
3           NaN       NaN          6.0
4           NaN       0.0          7.0
...         ...       ...          ...
139         NaN       NaN        190.0
140         NaN       NaN        191.0
141         NaN       NaN        192.0
142         0.0       NaN        193.0
Total       1.0       6.0      14668.0

[144 rows x 902 columns]

In [22]:
variable_names = ['TTQ3.1_1', 'TTQ3.1_2','TTQ3.1_3']

for variable in variable_names:
    frequencies = df[variable].value_counts()
    print(f"Variable: {variable}")
    print(frequencies)
    print("-------------------")

Variable: TTQ3.1_1
97.0    14
2.0      8
7.0      7
6.0      5
8.0      4
5.0      4
99.0     4
1.0      3
9.0      3
4.0      2
3.0      1
Name: TTQ3.1_1, dtype: int64
-------------------
Variable: TTQ3.1_2
6.0    3
2.0    1
8.0    1
5.0    1
Name: TTQ3.1_2, dtype: int64
-------------------
Variable: TTQ3.1_3
Series([], Name: TTQ3.1_3, dtype: int64)
-------------------

In [23]:
from collections import Counter

# Define the data
Q1 = df['TTQ3.1_1']
Q2 = df['TTQ3.1_2']
Q3 = df['TTQ3.1_3']

# Combine the responses into a single list
responses = Q1 + Q2 + Q3
print(responses)
# Count the frequencies of each response
frequency_count = Counter(responses)

# Create a table to display the frequencies
table_header = ["Response", "Frequency"]
table_rows = []

for response, frequency in frequency_count.items():
    table_rows.append([response, frequency])

# Sort the table rows based on the response values (first column)
table_rows.sort(key=lambda x: x[0])

# Print the table
print("-----------------------")
print("| {:<10} | {:<8} |".format(table_header[0], table_header[1]))
print("-----------------------")
for row in table_rows:
    print("| {:<10} | {:<8} |".format(row[0], row[1]))
print("-----------------------")

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
138   NaN
139   NaN
140   NaN
141   NaN
142   NaN
Length: 143, dtype: float64
-----------------------
| Response   | Frequency |
-----------------------
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
| nan        | 1        |
-----------------------

In [34]:
df.head()

,sys_RespNum,RespondentIDNumber,RotationNumb,ContactInfo_first,ContactInfo_last,ContactInfo_email,ContactInfo_Phone,S1,S2,S3,...,TTQ10Third_2,TTQ10Third_3,TTQ10Third_4,DQ1,D2,D3,QtaGender,QtaAge,QtaEthnic,CombinedVariable
0,3.0,8,8.0,Crystal,Mills,Crystal_clear25@hotmail.com,409-338-7258,2.0,3.0,1.0,...,NaN,NaN,NaN,3.0,0.0,4.0,2.0,2.0,1.0,nannannan
1,4.0,2,2.0,Jonathan,Palomo,Jonpalomo@gmail.com,8323615539,1.0,3.0,3.0,...,NaN,NaN,NaN,1.0,1.0,4.0,1.0,2.0,3.0,nannannan
2,5.0,5,5.0,Catherine,Josey,Josey1love@aol.com,2812359625,2.0,4.0,1.0,...,NaN,NaN,NaN,2.0,1.0,6.0,2.0,3.0,1.0,nannannan
3,6.0,12,12.0,ivan,galvan,ivangal66@yahoo.com,2812221429,1.0,3.0,3.0,...,12.0,NaN,NaN,4.0,0.0,3.0,1.0,2.0,3.0,8.0nannan
4,7.0,3,3.0,Natasha,Thornton,Narensthornton@gmail.com,510-421-9043,2.0,4.0,4.0,...,NaN,NaN,NaN,1.0,0.0,3.0,2.0,3.0,4.0,7.0nannan

In [5]:
import pyreadstat
import pandas as pd
import numpy as np

df, meta = pyreadstat.read_sav('../../SPSS-Python/spss-datasets/Taste_Test_Data_File.sav')

# # Read the SPSS database
# data_path = 'path/to/your/database.sav'
# df, meta = pyreadstat.read_sav(data_path)

# Define the data
# Q1 = df['TTQ3.1_1']
# Q2 = df['TTQ3.1_2']
# Q3 = df['TTQ3.1_3']
# Combine two variables into a new variable
variable1 = 'TTQ3.1_1'  # Replace with your variable name
variable2 = 'TTQ3.1_2'  # Replace with your variable name
variable3 = 'TTQ3.1_3'  # Replace with your variable name

# new_variable_name = 'CombinedVariable'  # Replace with your desired new variable name

new_variable = np.concatenate([df[variable1], df[variable2], df[variable3]])

new_variable
# Save the modified database
# output_path = 'path/to/save/combined_database.sav'  # Replace with your desired output path
# pyreadstat.write_sav(df, meta, output_path)

array([nan, nan, nan,  8.,  7.,  5., nan, 97., nan, nan, nan,  3., nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan,  1., nan, nan, nan,
       nan, nan, nan, 97., nan, nan, nan,  4., 97., nan, nan, nan, nan,
        7., nan, nan, nan, nan, 97.,  2., nan, nan, nan, nan, nan, 97.,
       nan,  1., nan, nan, nan, nan, 97., 97.,  8., nan, 97., 97., nan,
       nan,  5.,  6., 97.,  6., nan, 99., nan, 97., nan, nan, nan, nan,
        9.,  1.,  6.,  7.,  2., 99.,  5., nan,  2.,  2., nan, nan, nan,
       nan, nan,  2., nan,  7., nan,  2.,  8., nan,  7., nan, nan, nan,
        2., 97.,  8., nan,  7., nan, nan, 97., nan,  5., nan, nan, nan,
       nan,  6., nan,  4., nan, 99.,  2., nan,  7., nan, 97., nan, nan,
       nan, 99., nan, nan, nan, nan, nan, nan, nan,  9., nan,  9.,  6.,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan,  2., nan, nan, nan,  6., nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan,  6., nan, nan, nan, nan,  6., nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan,  8., nan,  5., nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [7]:
import collections

# frequencies = df[new_variable].value_counts()
frequencies = collections.Counter(new_variable)
new_frequencies = frequencies[np.logical_not(pd.isna(frequencies))]
# print(f"Variable: {variable}")

for key, value in new_frequencies.items():
    print(f'{key}: {value}')

AttributeError: 'int' object has no attribute 'items'

In [10]:
import pandas as pd
import pyreadstat
from collections import Counter

df, meta = pyreadstat.read_sav('../../SPSS-Python/spss-datasets/Taste_Test_Data_File.sav')

# Define the data
Q1 = df['TTQ3.1_1']
Q2 = df['TTQ3.1_2']
Q3 = df['TTQ3.1_3']
responses = []

# Combine the responses into a single list
responses = pd.concat([Q1, Q2, Q3], axis=0, ignore_index=True).dropna(axis=0)
print(f'responses are {responses}')

# for response in responses:
#     frequencies = df[response].value_counts()
#     print(f"response: {response}")
#     print(frequencies)
#     print("-------------------")

responses are 3       8.0
4       7.0
5       5.0
7      97.0
11      3.0
       ...
227     6.0
251     6.0
256     6.0
282     8.0
284     5.0
Length: 61, dtype: float64